.singleProduct {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;
  background-color: #fff;

  .productImages {
    width: 600px;
    height: 400px;
  }
}

@media (max-width: 500px) {
  .singleProduct {
    flex-direction: column;
    .productImages {
      margin: 30px;
      width: 300px;
      height: 150px;
    }
  }
}
@media (min-width: 500px) and (max-width: 950px) {
  .singleProduct {
    flex-direction: column;
    .productImages {
      margin: 30px;
      width: 400px;
      height: 300px;
    }
  }
}
