@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap'); // test font

body{
    margin: 0;
    padding: 0;
    background-color: var(--mainBg);
}
button, .viewProducts{
    font-family: "Roboto", sans-serif;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    background-color: var(--btnRed);
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s;
    box-shadow: var(--navShadow);
    &:hover{
        background-color: var(--btnRedHover);
        cursor: pointer;
    }
    &:active{
        transform: translateY(2px);
    }
    a{
        color: #fff;
    }
}

a{
    text-decoration: none;
    color: #000;
}

.titles{
    h1{
        font-size: 2.5em;
        // font-family: "Permanent Marker", cursive;
        font-family: var(--headingFont);
        text-transform: uppercase;
    }
    h3{
        font-family: var(--headingFont);
        text-align: center;
    }
}

.loading{
    img{
        width: 150px;
    }
}